{%- extends 'index.html' -%}
{%- block head -%}
{#    {%- include 'head.html' -%}#}
    {{ super() }}
    {%- block additional_css -%}
        <link href="{{ url_for('static', filename='css/lightbox.css') }}" rel="stylesheet" media="screen">
        <link href="http://cdn.staticfile.org/github-markdown-css/2.4.1/github-markdown.min.css" rel="stylesheet" media="screen">
{#        <link href="{{ url_for('static', filename='css/github-markdown.css') }}" rel="stylesheet" media="screen">#}
    {%- endblock -%}
{%- endblock -%}
{%- block body -%}
    {%- if post -%}
		<div class="post clearfix markdown-body">
			<div class="row">
				<div class="col-lg-9">
					<div class="page-header">
						<h2>{{ post['title'] | safe }}</h2>
						<p><span class="icon-time">&nbsp;</span><i>Posted on {{ post['date']|formatdate }} by {{ post['author'] }}</i>
                             {% if post.get('update') %}
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="icon-refresh">&nbsp;</span><i>Update:{{ post.get('update')|formatdate }}</i>
                             {% endif %}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="icon-fire">&nbsp;{{post.get('view_count')}}</span>
                        </p>
						<div class="social row-fluid">
				        </div>
					</div>
					<div class="content article">
{#						{{ post['preview']|markdown }}#}
{#						{{ post['body']|markdown }}#}
                        {{ preview }}
                        {{ mk_body }}
					</div>
					<div class="infopanel">
						<div class="tags">
							<i>tags:</i>
							{%- if post['tags'] -%}
								{%- for tag in post['tags'] -%}
									&nbsp;<a href="{{ url_for('main.posts_by_tag', tag=tag) }}">{{ tag }}</a>
								{%- endfor -%}
							{%- endif -%}
						</div>
					</div>
				</div>
			</div>
		</div>
	{%- endif -%}
	{%- include 'sidebar.html' -%}
{%- endblock -%}
{%- block additional_js -%}<script src="{{ url_for('static', filename='js/lightbox-2.6.min.js') }}"></script>
{%- endblock -%}

{%- block scripts -%}
   <!--PC和WAP自适应版-->
<div id="SOHUCS" sid="{{ permalink }}" ></div>
<script type="text/javascript">
(function(){
var appid = 'cysTQPLMX';
var conf = 'prod_d4b1ce6e28de3e46f36490399ac576c8';
var width = window.innerWidth || document.documentElement.clientWidth;
if (width < 960) {
window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
{%- endblock -%}
