{%- extends 'index.html' -%}
{%- block body -%}

    {% import "bootstrap/wtf.html" as wtf %}

 {% block page_content %}
     <h4>uploaded: {% if url %} {{url}}{% endif %}</h4>
     {{ wtf.quick_form(form, enctype="multipart/form-data") }}
 {% endblock page_content %}


	<div class="post">
		<div class="row">
			<div class="col-lg-12">
                <div>
                    <img id="uploadPreview" src="">
                    <form action={{ url_for('img_upload') }} method="post">
                        <input type="file" name="imgupload" id="imgupload">
                        <input type="submit" value="Submit">
                    </form>
                </div>
		    </div>
		</div>
	</div>
{%- endblock -%}

{%- block scripts -%}
    {{ super() }}
    <script>
        if (typeof FileReader === 'undefined') {
            alert("抱歉，你的浏览器不支持 FileReader");
        }
        $("#imgupload").change(function (e) {
            for (var i = 0; i < e.target.files.length; i++) {
                var file = e.target.files.item(i);
                var freader = new FileReader();
                freader.readAsDataURL(file);
                freader.onload = function (e) {
                    var src = e.target.result;
                    //console.log(e.target);
                    $("#uploadPreview").attr("src", src);
                }
            }
        });
    </script>
{%- endblock -%}
